<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Armor_Body_177-0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{-2,-4}</string>
                <key>spriteSize</key>
                <string>{36,30}</string>
                <key>spriteSourceSize</key>
                <string>{40,56}</string>
                <key>textureRect</key>
                <string>{{115,33},{36,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Armor_Body_177-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{-2,-3}</string>
                <key>spriteSize</key>
                <string>{36,32}</string>
                <key>spriteSourceSize</key>
                <string>{40,56}</string>
                <key>textureRect</key>
                <string>{{1,1},{36,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Armor_Body_177-10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{-2,-4}</string>
                <key>spriteSize</key>
                <string>{36,30}</string>
                <key>spriteSourceSize</key>
                <string>{40,56}</string>
                <key>textureRect</key>
                <string>{{153,33},{36,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Armor_Body_177-11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{-2,-4}</string>
                <key>spriteSize</key>
                <string>{36,30}</string>
                <key>spriteSourceSize</key>
                <string>{40,56}</string>
                <key>textureRect</key>
                <string>{{155,1},{36,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Armor_Body_177-12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{-2,-4}</string>
                <key>spriteSize</key>
                <string>{36,30}</string>
                <key>spriteSourceSize</key>
                <string>{40,56}</string>
                <key>textureRect</key>
                <string>{{155,1},{36,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Armor_Body_177-13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{-2,-4}</string>
                <key>spriteSize</key>
                <string>{36,30}</string>
                <key>spriteSourceSize</key>
                <string>{40,56}</string>
                <key>textureRect</key>
                <string>{{155,1},{36,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Armor_Body_177-14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{-2,-2}</string>
                <key>spriteSize</key>
                <string>{36,30}</string>
                <key>spriteSourceSize</key>
                <string>{40,56}</string>
                <key>textureRect</key>
                <string>{{191,33},{36,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Armor_Body_177-15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{-2,-2}</string>
                <key>spriteSize</key>
                <string>{36,30}</string>
                <key>spriteSourceSize</key>
                <string>{40,56}</string>
                <key>textureRect</key>
                <string>{{193,1},{36,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Armor_Body_177-16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{-2,-2}</string>
                <key>spriteSize</key>
                <string>{36,30}</string>
                <key>spriteSourceSize</key>
                <string>{40,56}</string>
                <key>textureRect</key>
                <string>{{193,1},{36,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Armor_Body_177-17.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{-2,-4}</string>
                <key>spriteSize</key>
                <string>{36,30}</string>
                <key>spriteSourceSize</key>
                <string>{40,56}</string>
                <key>textureRect</key>
                <string>{{229,33},{36,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Armor_Body_177-18.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{-2,-4}</string>
                <key>spriteSize</key>
                <string>{36,30}</string>
                <key>spriteSourceSize</key>
                <string>{40,56}</string>
                <key>textureRect</key>
                <string>{{231,1},{36,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Armor_Body_177-19.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{-2,-4}</string>
                <key>spriteSize</key>
                <string>{36,30}</string>
                <key>spriteSourceSize</key>
                <string>{40,56}</string>
                <key>textureRect</key>
                <string>{{231,1},{36,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Armor_Body_177-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{-2,-3}</string>
                <key>spriteSize</key>
                <string>{36,32}</string>
                <key>spriteSourceSize</key>
                <string>{40,56}</string>
                <key>textureRect</key>
                <string>{{39,1},{36,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Armor_Body_177-3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{-2,-4}</string>
                <key>spriteSize</key>
                <string>{36,30}</string>
                <key>spriteSourceSize</key>
                <string>{40,56}</string>
                <key>textureRect</key>
                <string>{{267,33},{36,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Armor_Body_177-4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{-2,-4}</string>
                <key>spriteSize</key>
                <string>{36,30}</string>
                <key>spriteSourceSize</key>
                <string>{40,56}</string>
                <key>textureRect</key>
                <string>{{269,1},{36,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Armor_Body_177-5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{-2,-3}</string>
                <key>spriteSize</key>
                <string>{36,32}</string>
                <key>spriteSourceSize</key>
                <string>{40,56}</string>
                <key>textureRect</key>
                <string>{{77,1},{36,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Armor_Body_177-6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{-2,-4}</string>
                <key>spriteSize</key>
                <string>{36,30}</string>
                <key>spriteSourceSize</key>
                <string>{40,56}</string>
                <key>textureRect</key>
                <string>{{155,1},{36,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Armor_Body_177-7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{-1,-2}</string>
                <key>spriteSize</key>
                <string>{38,30}</string>
                <key>spriteSourceSize</key>
                <string>{40,56}</string>
                <key>textureRect</key>
                <string>{{115,1},{38,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Armor_Body_177-8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{-1,-2}</string>
                <key>spriteSize</key>
                <string>{38,30}</string>
                <key>spriteSourceSize</key>
                <string>{40,56}</string>
                <key>textureRect</key>
                <string>{{115,1},{38,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Armor_Body_177-9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{-1,-2}</string>
                <key>spriteSize</key>
                <string>{38,30}</string>
                <key>spriteSourceSize</key>
                <string>{40,56}</string>
                <key>textureRect</key>
                <string>{{115,1},{38,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Armor_Head_171-0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{-2,9}</string>
                <key>spriteSize</key>
                <string>{26,24}</string>
                <key>spriteSourceSize</key>
                <string>{40,56}</string>
                <key>textureRect</key>
                <string>{{307,1},{26,24}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Armor_Head_171-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{-2,9}</string>
                <key>spriteSize</key>
                <string>{26,24}</string>
                <key>spriteSourceSize</key>
                <string>{40,56}</string>
                <key>textureRect</key>
                <string>{{307,1},{26,24}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Armor_Head_171-10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{-2,9}</string>
                <key>spriteSize</key>
                <string>{26,24}</string>
                <key>spriteSourceSize</key>
                <string>{40,56}</string>
                <key>textureRect</key>
                <string>{{307,1},{26,24}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Armor_Head_171-11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{-2,9}</string>
                <key>spriteSize</key>
                <string>{26,24}</string>
                <key>spriteSourceSize</key>
                <string>{40,56}</string>
                <key>textureRect</key>
                <string>{{307,1},{26,24}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Armor_Head_171-12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{-2,9}</string>
                <key>spriteSize</key>
                <string>{26,24}</string>
                <key>spriteSourceSize</key>
                <string>{40,56}</string>
                <key>textureRect</key>
                <string>{{307,1},{26,24}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Armor_Head_171-13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{-2,9}</string>
                <key>spriteSize</key>
                <string>{26,24}</string>
                <key>spriteSourceSize</key>
                <string>{40,56}</string>
                <key>textureRect</key>
                <string>{{307,1},{26,24}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Armor_Head_171-14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{-2,11}</string>
                <key>spriteSize</key>
                <string>{26,24}</string>
                <key>spriteSourceSize</key>
                <string>{40,56}</string>
                <key>textureRect</key>
                <string>{{307,1},{26,24}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Armor_Head_171-15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{-2,11}</string>
                <key>spriteSize</key>
                <string>{26,24}</string>
                <key>spriteSourceSize</key>
                <string>{40,56}</string>
                <key>textureRect</key>
                <string>{{307,1},{26,24}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Armor_Head_171-16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{-2,11}</string>
                <key>spriteSize</key>
                <string>{26,24}</string>
                <key>spriteSourceSize</key>
                <string>{40,56}</string>
                <key>textureRect</key>
                <string>{{307,1},{26,24}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Armor_Head_171-17.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{-2,9}</string>
                <key>spriteSize</key>
                <string>{26,24}</string>
                <key>spriteSourceSize</key>
                <string>{40,56}</string>
                <key>textureRect</key>
                <string>{{307,1},{26,24}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Armor_Head_171-18.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{-2,9}</string>
                <key>spriteSize</key>
                <string>{26,24}</string>
                <key>spriteSourceSize</key>
                <string>{40,56}</string>
                <key>textureRect</key>
                <string>{{307,1},{26,24}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Armor_Head_171-19.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{-2,9}</string>
                <key>spriteSize</key>
                <string>{26,24}</string>
                <key>spriteSourceSize</key>
                <string>{40,56}</string>
                <key>textureRect</key>
                <string>{{307,1},{26,24}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Armor_Head_171-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{-2,9}</string>
                <key>spriteSize</key>
                <string>{26,24}</string>
                <key>spriteSourceSize</key>
                <string>{40,56}</string>
                <key>textureRect</key>
                <string>{{307,1},{26,24}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Armor_Head_171-3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{-2,9}</string>
                <key>spriteSize</key>
                <string>{26,24}</string>
                <key>spriteSourceSize</key>
                <string>{40,56}</string>
                <key>textureRect</key>
                <string>{{307,1},{26,24}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Armor_Head_171-4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{-2,9}</string>
                <key>spriteSize</key>
                <string>{26,24}</string>
                <key>spriteSourceSize</key>
                <string>{40,56}</string>
                <key>textureRect</key>
                <string>{{307,1},{26,24}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Armor_Head_171-5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{-2,9}</string>
                <key>spriteSize</key>
                <string>{26,24}</string>
                <key>spriteSourceSize</key>
                <string>{40,56}</string>
                <key>textureRect</key>
                <string>{{307,1},{26,24}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Armor_Head_171-6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{-2,9}</string>
                <key>spriteSize</key>
                <string>{26,24}</string>
                <key>spriteSourceSize</key>
                <string>{40,56}</string>
                <key>textureRect</key>
                <string>{{307,1},{26,24}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Armor_Head_171-7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{-2,11}</string>
                <key>spriteSize</key>
                <string>{26,24}</string>
                <key>spriteSourceSize</key>
                <string>{40,56}</string>
                <key>textureRect</key>
                <string>{{307,1},{26,24}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Armor_Head_171-8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{-2,11}</string>
                <key>spriteSize</key>
                <string>{26,24}</string>
                <key>spriteSourceSize</key>
                <string>{40,56}</string>
                <key>textureRect</key>
                <string>{{307,1},{26,24}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Armor_Head_171-9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{-2,11}</string>
                <key>spriteSize</key>
                <string>{26,24}</string>
                <key>spriteSourceSize</key>
                <string>{40,56}</string>
                <key>textureRect</key>
                <string>{{307,1},{26,24}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Armor_Legs_112-0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{-1,-6}</string>
                <key>spriteSize</key>
                <string>{24,14}</string>
                <key>spriteSourceSize</key>
                <string>{40,28}</string>
                <key>textureRect</key>
                <string>{{369,17},{24,14}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Armor_Legs_112-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{-1,-6}</string>
                <key>spriteSize</key>
                <string>{24,14}</string>
                <key>spriteSourceSize</key>
                <string>{40,28}</string>
                <key>textureRect</key>
                <string>{{369,17},{24,14}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Armor_Legs_112-10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{-2,-6}</string>
                <key>spriteSize</key>
                <string>{26,14}</string>
                <key>spriteSourceSize</key>
                <string>{40,28}</string>
                <key>textureRect</key>
                <string>{{321,27},{26,14}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Armor_Legs_112-11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{-1,-6}</string>
                <key>spriteSize</key>
                <string>{24,14}</string>
                <key>spriteSourceSize</key>
                <string>{40,28}</string>
                <key>textureRect</key>
                <string>{{369,17},{24,14}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Armor_Legs_112-12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{-1,-6}</string>
                <key>spriteSize</key>
                <string>{20,14}</string>
                <key>spriteSourceSize</key>
                <string>{40,28}</string>
                <key>textureRect</key>
                <string>{{363,1},{20,14}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Armor_Legs_112-13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,-6}</string>
                <key>spriteSize</key>
                <string>{22,14}</string>
                <key>spriteSourceSize</key>
                <string>{40,28}</string>
                <key>textureRect</key>
                <string>{{91,35},{22,14}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Armor_Legs_112-14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{-1,-5}</string>
                <key>spriteSize</key>
                <string>{28,16}</string>
                <key>spriteSourceSize</key>
                <string>{40,28}</string>
                <key>textureRect</key>
                <string>{{1,35},{28,16}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Armor_Legs_112-15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{-1,-5}</string>
                <key>spriteSize</key>
                <string>{28,16}</string>
                <key>spriteSourceSize</key>
                <string>{40,28}</string>
                <key>textureRect</key>
                <string>{{19,35},{28,16}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Armor_Legs_112-16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{-1,-5}</string>
                <key>spriteSize</key>
                <string>{28,16}</string>
                <key>spriteSourceSize</key>
                <string>{40,28}</string>
                <key>textureRect</key>
                <string>{{37,35},{28,16}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Armor_Legs_112-17.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,-6}</string>
                <key>spriteSize</key>
                <string>{26,14}</string>
                <key>spriteSourceSize</key>
                <string>{40,28}</string>
                <key>textureRect</key>
                <string>{{337,19},{26,14}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Armor_Legs_112-18.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,-6}</string>
                <key>spriteSize</key>
                <string>{26,14}</string>
                <key>spriteSourceSize</key>
                <string>{40,28}</string>
                <key>textureRect</key>
                <string>{{353,19},{26,14}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Armor_Legs_112-19.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{1,-6}</string>
                <key>spriteSize</key>
                <string>{20,14}</string>
                <key>spriteSourceSize</key>
                <string>{40,28}</string>
                <key>textureRect</key>
                <string>{{369,43},{20,14}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Armor_Legs_112-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{-1,-6}</string>
                <key>spriteSize</key>
                <string>{24,14}</string>
                <key>spriteSourceSize</key>
                <string>{40,28}</string>
                <key>textureRect</key>
                <string>{{337,47},{24,14}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Armor_Legs_112-3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{-1,-6}</string>
                <key>spriteSize</key>
                <string>{24,14}</string>
                <key>spriteSourceSize</key>
                <string>{40,28}</string>
                <key>textureRect</key>
                <string>{{369,17},{24,14}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Armor_Legs_112-4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{-1,-6}</string>
                <key>spriteSize</key>
                <string>{24,14}</string>
                <key>spriteSourceSize</key>
                <string>{40,28}</string>
                <key>textureRect</key>
                <string>{{369,17},{24,14}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Armor_Legs_112-5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{2,-6}</string>
                <key>spriteSize</key>
                <string>{30,14}</string>
                <key>spriteSourceSize</key>
                <string>{40,28}</string>
                <key>textureRect</key>
                <string>{{305,33},{30,14}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Armor_Legs_112-6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{-1,-6}</string>
                <key>spriteSize</key>
                <string>{20,14}</string>
                <key>spriteSourceSize</key>
                <string>{40,28}</string>
                <key>textureRect</key>
                <string>{{363,1},{20,14}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Armor_Legs_112-7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{-2,-5}</string>
                <key>spriteSize</key>
                <string>{26,16}</string>
                <key>spriteSourceSize</key>
                <string>{40,28}</string>
                <key>textureRect</key>
                <string>{{335,1},{26,16}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Armor_Legs_112-8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{-1,-5}</string>
                <key>spriteSize</key>
                <string>{28,16}</string>
                <key>spriteSourceSize</key>
                <string>{40,28}</string>
                <key>textureRect</key>
                <string>{{55,35},{28,16}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Armor_Legs_112-9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{-1,-5}</string>
                <key>spriteSize</key>
                <string>{28,16}</string>
                <key>spriteSourceSize</key>
                <string>{40,28}</string>
                <key>textureRect</key>
                <string>{{73,35},{28,16}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>Player.png</string>
            <key>size</key>
            <string>{384,64}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:80911a8e84f2234f55befe183965439e:0957fe34391f2a24e50da81e2ec7de71:18fcf80557a1b693f695decb3ad03513$</string>
            <key>textureFileName</key>
            <string>Player.png</string>
        </dict>
    </dict>
</plist>
